<p>
  <strong>Start date:</strong>
  <%= @cycle.start_date %>
</br>
  <strong>Phase 3 start:</strong>
  <%= @cycle.phase_3_start  %>
</p>

<%= link_to 'Days', cycle_days_path(@cycle) %> |
<%= link_to 'Edit', edit_cycle_path(@cycle) %> |
<%= link_to 'Back', cycles_path %>
