<%= form_for([@cycle, @day]) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <strong>Date:</strong>
    <%= @day.date %>
  </p>

  <p>
    <strong>Cycle day:</strong>
    <%= @day.number %>
  </p>

  <div class="field">
    <%= f.label :bleeding %><br>
    <%= f.select(:bleeding, options_for_select([["None", nil], ["Light", Day::Bleeding::Light], ["Heavy", Day::Bleeding::Heavy], @day.bleeding ])) %>
  </div>
  <div class="field">
    <%= f.label :sensation %><br>
    <%= f.select(:sensation, options_for_select([["Dry", Day::Sensations::Dry],["Moist", Day::Sensations::Moist],["Wet", Day::Sensations::Wet]], @day.sensation)) %>
  </div>
  <div class="field">
    <%= f.label :characteristics %><br>
    <%= f.select(:characteristics, options_for_select([["None", Day::Characteristics::None],["Tacky", Day::Characteristics::Tacky],["Slippery", Day::Characteristics::Slippery]], @day.characteristics)) %>
  </div>
  <div class="field">
    <%= f.label :cervix %><br>
    <%= f.select(:cervix, options_for_select([["Not observed", Day::Cervix::NotObserved], ["Soft", Day::Cervix::Soft], ["Hard", Day::Cervix::Hard]], @day.cervix)) %>
  </div>
  <div class="field">
    <%= f.label :temp %><br>
    <%= f.select(:temp, options_for_select([["Not observed", nil]] + Day::Temperatures::NormalRange.to_a, @day.temp)) %>
  </div>

</br>
<h3>Other characteristics:</h3>

  <div class="field">
    <%= f.label :weight %><br>
    <%= f.select(:weight, options_for_select([["Not observed", nil]] + Day::Weight::NormalRange.to_a, @day.weight)) %>
  </div>

  <div class="field">
    <%= f.label :cramps %><br>
    <%= f.select(:cramps, options_for_select([Day::Cramps::No, Day::Cramps::Yes], @day.cramps)) %>
  </div>

  <div class="field">
    <%= f.label :tenderness %><br>
    <%= f.select(:tenderness, options_for_select([0,1,2], @day.tenderness || 0)) %>
  </div>

  <div class="field">
    <%= f.label :irritability %><br>
    <%= f.select(:irritability, options_for_select(Day::Mood::NormalRange, @day.irritability || 0)) %>
  </div>

  <div class="field">
    <%= f.label :sensitivity %><br>
    <%= f.select(:sensitivity, options_for_select(Day::Mood::NormalRange, @day.sensitivity || 0)) %>
  </div>

  <div class="field">
    <%= f.label :drinks %><br>
    <%= f.select(:drinks, options_for_select(Day::Drinks::NormalRange, @day.drinks)) %>
  </div>

  <div class="field">
    <%= f.label :hours_bad_sleep %><br>
    <%= f.select(:hours_sleep, options_for_select(Day::HoursBadSleep::NormalRange, @day.hours_sleep)) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
