<%= form_for(@day) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bleeding %><br>
    <%= f.number_field :bleeding %>
  </div>
  <div class="field">
    <%= f.label :sensation %><br>
    <%= f.text_field :sensation %>
  </div>
  <div class="field">
    <%= f.label :characteristics %><br>
    <%= f.text_field :characteristics %>
  </div>
  <div class="field">
    <%= f.label :cervix %><br>
    <%= f.text_field :cervix %>
  </div>
  <div class="field">
    <%= f.label :temp %><br>
    <%= f.number_field :temp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
