<%= form_for([@cycle, @day]) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bleeding %><br>
    <%= f.select(:bleeding, options_for_select([["None", ""], ["Light", "1"], ["Heavy", "2"]])) %>
  </div>
  <div class="field">
    <%= f.label :sensation %><br>
    <%= f.select(:sensation, options_for_select([["Dry", "d"],["Moist", "m"],["Wet", "w"], ["Not observed", nil]])) %>
  </div>
  <div class="field">
    <%= f.label :characteristics %><br>
    <%= f.select(:cervix, options_for_select([["None", "n"],["Tacky", "t"],["Slippery", "s"], ["Not observed", nil]])) %>
  </div>
  <div class="field">
    <%= f.label :cervix %><br>
    <%= f.select(:cervix, options_for_select([["Hard", "h"],["Soft", "s"], ["Not observed", nil]])) %>
  </div>
  <div class="field">
    <%= f.label :temp %><br>
    <%= f.select(:temp, options_for_select([96.0, 96.1])) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
