<%= form_for([@cycle, @day]) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bleeding %><br>
    <%= f.select(:bleeding, options_for_select([["None", ""], ["Light", "1"], ["Heavy", "2"]])) %>
  </div>
  <div class="field">
    <%= f.label :sensation %><br>
    <%= f.select(:sensation, options_for_select([["Dry", Day::Sensations::Dry],["Moist", Day::Sensations::Moist],["Wet", Day::Sensations::Wet], ["Not observed", nil]])) %>
  </div>
  <div class="field">
    <%= f.label :characteristics %><br>
    <%= f.select(:characteristics, options_for_select([["None", Day::Characteristics::None],["Tacky", Day::Characteristics::Tacky],["Slippery", Day::Characteristics::Slippery], ["Not observed", nil]])) %>
  </div>
  <div class="field">
    <%= f.label :cervix %><br>
    <%= f.select(:cervix, options_for_select([["Hard", Day::Cervix::Hard],["Soft", Day::Cervix::Soft], ["Not observed", nil]])) %>
  </div>
  <div class="field">
    <%= f.label :temp %><br>
    <%= f.select(:temp, options_for_select(Day::Temperatures::NormalRange)) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
