<p id="notice"><%= notice %></p>

<h1>Listing Days</h1>

<table>
  <thead>
      <tr><td>PEAK DAY:<%= @cycle.peak_day %></td></td>
      <tr><td>LTL:<%= @cycle.ltl %></td></td>
      <tr><td>HTL:<%= @cycle.htl %></td></td>
    <tr>
      <th>Date</th>
      <th>Cycle day</th>
      <th>Bleeding</th>
      <th>Sensation</th>
      <th>Characteristics</th>
      <th>Cervix</th>
      <th>Temp</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @days.each do |day| %>
      <tr class="<%= day.phase %>">
        <td><%= day.date %></td>
        <td><%= day.number %></td>
        <td><%= day.bleeding %></td>
        <td><%= day.sensation %></td>
        <td><%= day.characteristics %></td>
        <td><%= day.cervix %></td>
        <td><%= day.temp %></td>
        <td><%= link_to 'Show', cycle_day_path(@cycle, day) %></td>
        <td><%= link_to 'Edit', edit_cycle_day_path(@cycle, day) %></td>
        <td><%= link_to 'Destroy', [@cycle, day], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
