<h1>Cycle <%= @cycle.start_date %></h1>

<div class="graphs">
<%= temperatures_by_day %>
<%= other_chars_by_day %>
<%= weight_by_day %>
</div>

<div class="data">
  <h3>Peak day:<%= @cycle_presenter.peak_day_number %></h3>
  <h3>LTL:<%= @cycle_presenter.ltl %>, HTL:<%= @cycle_presenter.htl %></h3>
  <h3>Thermal shift start day: <%= @cycle_presenter.thermal_shift_start_day_number %> </h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Cycle day</th>
      <th>Bleeding</th>
      <th>Sensation</th>
      <th>Characteristics</th>
      <th>Cervix</th>
      <th>Temp</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @days.each do |day| %>
      <tr class="<%= @cycle_presenter.phase_at(day.number) %>">
        <td><%= day.date %></td>
        <td><%= day.number %></td>
        <td><%= day.bleeding %></td>
        <td><%= day.sensation %></td>
        <td><%= day.characteristics %></td>
        <td><%= day.cervix %></td>
        <td><%= day.temp %></td>
        <td><%= link_to 'Show', cycle_day_path(@cycle, day) %></td>
        <td><%= link_to 'Edit', edit_cycle_day_path(@cycle, day) %></td>
        <td><%= link_to 'Destroy', [@cycle, day], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
</div>
