<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Cycle day:</strong>
  <%= @day.number %>
</p>

<p>
  <strong>Bleeding:</strong>
  <%= @day.bleeding %>
</p>

<p>
  <strong>Sensation:</strong>
  <%= @day.sensation %>
</p>

<p>
  <strong>Characteristics:</strong>
  <%= @day.characteristics %>
</p>

<p>
  <strong>Cervix:</strong>
  <%= @day.cervix %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @day.temp %>
</p>

<%= link_to 'Edit', edit_cycle_day_path(@cycle, @day) %> |
<%= link_to 'Back', cycle_days_path(@cycle) %>
